<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gili Products Automation Suite">
	<listeners>
	 <listener class-name="shopify.giliproducts.Listeners" />
	</listeners>
	<test name="Create Orders Tests">
		<classes>
			<class name="shopify.giliproducts.PlaceOrderMensPantsTest" />
			<class name="shopify.giliproducts.PlaceOrderMensTopsTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
